@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 0 0% 20%; /* dark orange background */
  --foreground:   0 10% 90%; /* light grey foreground */

  --card: 30 100% 15%; /* slightly lighter dark orange card background */
  --card-foreground: 0 0% 0%; /* light grey card foreground */

  --popover: 30 100% 15%; /* same as card background */
  --popover-foreground: 0 0% 90%; /* same as card foreground */

  --primary: 30 100% 50%; /* orange primary */
  --primary-foreground: 0 0% 0%; /* dark grey primary foreground */

  --secondary: 30 100% 30%; /* medium orange secondary */
  --secondary-foreground: 0 0% 0%; /* light grey secondary foreground */

  --muted: 30 100% 30%; /* same as secondary background */
  --muted-foreground: 0 0% 0%; /* medium light grey muted foreground */

  --accent: 30 100% 30%; /* same as secondary background */
  --accent-foreground: 0 0% 0%; /* same as secondary foreground */

  --destructive: 0 100% 40%; /* bright orange destructive */
  --destructive-foreground: 0 0% 90%; /* light grey destructive foreground */

  --border: 30 100% 30%; /* same as secondary background */
  --input: 30 100% 30%; /* same as secondary background */
  --ring: 30 100% 70%; /* l
  ight orange ring */
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }